body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 22px;
    display: block;
    margin: 0 auto;
}

h2 {
    font-weight: 400;
    font-size: medium;
    margin-top: 4px;
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.center {
    display: block;
    max-width: 700px;
    margin: 32px auto 0 auto;
}

.describe {
    font-weight: 700;
    color: #ffffff;
    background-color: #121621;
    margin-bottom: 2px;
    padding: 2px 4px;
}

.describe:hover {
    background-color: #0b4283;
}

.it {
    padding: 2px 4px;
    margin-top: 8px;
}

.source {
    font-family: 'Consolas', 'Monaco', 'Source Code Pro', monospace;
    font-size: 16px;
    margin: 0;
}

.result {
    margin-top: 4px;
    margin-bottom: 32px;
}